{
  "TOKEN": "OTE2MzY0OTgzNjM2NDc1OTE0.YapFZQ.1NYg3j52yBqQ87XR-yHKqCU1o6g",
  "YOUTUBE_API_KEY": "",
  "SOUNDCLOUD_CLIENT_ID": "889875266573328384",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "/",
  "PRUNING": MUSIX IRAQD,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
